.plus{
    width: 80%;
    margin: 0 auto;
}

.plus__paragraph{
    max-width: 65%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 24px;
}

.plus__img{
    float: right;
    width: 50%;
    margin-left: 20px;
}

@counter-style circled-alpha {
    system: fixed;
    symbols: 🍸 🔍 🎨;
    suffix: " ";
  }

.plus__list{
    list-style-position: inside;
    list-style: circled-alpha;
    text-align: justify;
}

.plus__item{
    font-size: 16px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .plus__paragraph{
        max-width: 90%;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .plus__img{
        display: block;
        float: none;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .plus__list{
        clear: both;
    }

    .plus__item{
        font-size: 14px;
    }
}